<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myLoggerConfig" class="com.pzubaha.logger.MyLoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="INFO" />
        <property name="printedLoggerLevel" value="INFO"/>
    </bean>

    <bean id="myFortuneService" class="com.pzubaha.springdemo.HappyFortuneService">
    </bean>

    <!--Define the dependency-->
    <bean id="coach" class="com.pzubaha.springdemo.TrackCoach">

        <!--Inject through constructor-->
        <constructor-arg ref="myFortuneService"/>
    </bean>

    <!--Define new bean with-->
    <bean id="yogaCoach" class="com.pzubaha.springdemo.YogaCoach">

        <!--Inject dependency through setter-->
        <property name="fortuneService" ref="myFortuneService"/>
    </bean>
</beans>