<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--load the properties file: sport.properties-->
    <context:property-placeholder location="classpath:sport.properties"/>

    <bean id="myLoggerConfig" class="com.pzubaha.logger.MyLoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="INFO"/>
        <property name="printedLoggerLevel" value="INFO"/>
    </bean>

    <bean id="myFortuneService" class="com.pzubaha.springdemo.RandomFortuneService">
    </bean>

    <!--Define the dependency-->
    <bean id="coach" class="com.pzubaha.springdemo.TrackCoach">

        <!--Inject through constructor-->
        <constructor-arg ref="myFortuneService"/>
    </bean>

    <!--Define new bean with-->
    <!--init method will be called after constructor-->
    <bean id="yogaCoach"
          class="com.pzubaha.springdemo.YogaCoach"
          init-method="init"
          destroy-method="destroy">
        <!--Inject dependency through setter-->
        <!--if used ref, you sould provide another bean-->
        <!--if used value, you sould provide some literal-->
        <property name="fortuneService" ref="myFortuneService"/>

        <!--use ${reference} for reference to property file-->
        <property name="email" value="${foo.email}"/>
        <property name="city" value="${foo.city}"/>
    </bean>
</beans>